<h2></h2>
<a class="booking-create">CREATE BOOKING</a>

<ce-tabs>
    <div class="tab-title"><h3>General</h3></div>
    <div class="tab-title"><h3>Details</h3></div>
    <div class="tab-panel">
        <h3>Resources</h3>
        <select></select>

        <h3>Name</h3>
        <input class="booking-name" />

        <h3>Start</h3>
        <input class="booking-start" />

        <h3>End</h3>
        <input class="booking-end" />
    </div>
    <div class="tab-panel">
        <h3>Description</h3>
        <div class="booking-description"></div>
    </div>
</ce-tabs>


<ce-button class="save-button">Save</ce-button>
<ce-button class="delete-button">Delete</ce-button>

