<div class="container">
    <div class="header-left">
        <h1>Booking Service</h1>
        <ce-link routesegments='["resources"]' route-name="resource-master-detail" class="resources" auth-required>resources</ce-link>
    </div>
    <div class="header-right">
        <ce-link routesegments='["login"]' class="logout" auth-required>logout</ce-link>
        <ce-link routesegments='["login"]' class="login" anonymous-required>login</ce-link>
        <ce-link routesegments='["user-settings"]' class="settings" auth-required>settings</ce-link>
        <ce-link routesegments='["register"]' class="register" anonymous-required>register</ce-link>
    </div>
</div>

